.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--text-main-color);
  background-image: url("../../assets/images/cats-3.jpg");
  background-size: 40% 50%;
  background-repeat: repeat;
  background-attachment: fixed;
}

